@mixin shadow ($degrees, $bottom) {
  position: absolute;
  width: 120%;
  bottom: $bottom;
  height: 250px;
  margin-left: -10%;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  transform: rotate($degrees);
}
