@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

body {
  font-family: 'Montserrat';
  overflow-y: hidden;
}

@mixin shadow ($degrees, $bottom) {
  position: absolute;
  width: 100%;
  bottom: $bottom;
  height: 250px;
  margin-left: -30px;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  transform: rotate($degrees);
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.navbar-demo {
  padding: 0 10%;
  background: linear-gradient(90deg, rgba(255,85,85,1) 0%, rgba(255,88,88,1) 49%, rgba(223,36,71,1) 100%);
}
.navbar-brand {
  font-size: 17px;
  img {
    width: 40px;
    margin-right: 15px;
  }
}

.main {
  background: url('~@/assets/img/bg.jpg') no-repeat center;
  background-size: cover;
  height: calc(100vh - 49px);
}

.shadow--main {
  position: absolute;
  top: 49px;
  background: linear-gradient(180deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  height: calc(100vh - 49px);
}

.main,
.shadow--main {
  width: calc(100% - 270px);
}

.action-panel {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  button {
    margin: 10px;
    text-transform: uppercase;
    width: 200px;

    &.active {
      background: #fff;
      color: #ff5555;
    }
  }
}

.layout {
  background-color: white;
  max-width: 600px;
  margin: 30px auto 0;
  border-radius: 2px;
  border: 1px solid grey;
  height: calc(100vh - 280px);
  padding: 20px;
}

.spinner {
  position: absolute;
  top: 210px;
  left: 53%;
  transform: translate(-50%, -50%);
}

.container {
  width: 80%;
  margin-top: 40px;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  padding: 50px 0;
  height: 200px;
}

.sidebar {
  position: absolute;
  padding: 40px 0;
  right: 0;
  top: 50px;
  width: 270px;
  bottom: 0;
  background: white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);

  .active {
    background-color: #df2447;
    a {
      color: white;
    }
  }

  a {
    color: red;
    font-size: 14px;
    padding: 12px 25px;

    &:hover {
      color: #ff5555;
    }
  }

  img {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);
    border-radius: 50%;
    padding: 10px;
  }
}

.shadow--middle {
  @include shadow(-10deg, 250px);
}
.shadow--footer {
  @include shadow(10deg, -150px);
}
