@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';

@import 'service-cards';

body {
  font-family: 'Montserrat';
  overflow-y: hidden;
}

@mixin shadow ($degrees, $bottom) {
  position: absolute;
  width: 100%;
  bottom: $bottom;
  height: 250px;
  margin-left: -30px;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  transform: rotate($degrees);
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

.navbar-demo {
  padding: 0 10%;
  background: linear-gradient(90deg, rgba(255,85,85,1) 0%, rgba(255,88,88,1) 49%, rgba(223,36,71,1) 100%);
}
.navbar-brand {
  font-size: 17px;
  img {
    width: 40px;
    margin-right: 15px;
  }
}

.main {
  background: url('~@/assets/img/bg.jpg') no-repeat center;
  background-size: cover;
  height: calc(100vh - 49px);
}

.shadow--main {
  position: absolute;
  top: 49px;
  background: linear-gradient(180deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  height: calc(100vh - 49px);
}

.main,
.shadow--main {
  width: calc(100% - 270px);
}

.action-panel {
  position: absolute;
  display: flex;
  width: 100%;
  height: 150px;
  margin-top: 50px;
  justify-content: center;
  background: rgba(0,0,0, 0.5);

  button {
    margin: 30px 10px 10px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;

    &.active {
      background: #fff;
      color: #ff5555;
    }
  }
}

.recipient-area {
  label {
    margin-top: 15px;
  }
  padding-bottom: 20px;
  background-color: #fff;
  color: red;
}

.create {
  position: relative;
  margin-bottom: 40px;

  textarea, input {
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid grey;
    box-shadow: none !important;
  }


  input {
    height: 40px;
  }

  .submit {
    position: absolute;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
    padding: 10px;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(47, 47, 47, 0.891194) 0%, rgba(0, 0, 0, 0.154499) 100%);
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    &:disabled {
      background: #fff;
      cursor: not-allowed;
    }

    &:hover {
      filter: brightness(1.1);
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.spinner {
  position: absolute;
  top: 150px;
  left: calc(50% + 30px);
  transform: translateX(calc(-50% - 5px));
}

.container {
  width: 80%;
  margin-top: 40px;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  padding: 50px 0;
  height: 200px;
}

.sidebar {
  position: absolute;
  padding: 40px 0;
  right: 0;
  top: 50px;
  width: 270px;
  bottom: 0;
  background: white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.75);

  .active {
    background-color: #df2447;
    a {
      color: white;
    }
  }

  a {
    color: red;
    font-size: 14px;
    padding: 12px 25px;

    &:hover {
      color: #ff5555;
    }
  }
}

.shadow--middle {
  @include shadow(-10deg, 320px);
}
.shadow--footer {
  @include shadow(10deg, -150px);
}

.schema__item {
  display: block;
  margin-top: 15px;
  font-size: 13px;
}

.validation-section {
  margin: 30px 0;
}

.empty-list {
  font-size: 14px;
  font-weight: bold;
  color: #6E2AAB;
}

.view {
  font-size: 13px;
  border-radius: 5px;
  padding: 25px 15px 10px;
  background-color: white;
  border: 1px solid white;
}

.container-layout {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(248, 249, 250, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  height: calc(100vh - 50px);
}

.layout {
  position: absolute;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
  overflow-y: auto;
  height: calc(100vh - 250px);
}

.action-panel__buttons {
  max-width: 600px;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.view--date {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 30px;
  color: #36A5A5;
  font-size: 13px;
  font-weight: 600;
}

.sidebar--shadow {
  position: absolute;
  width: 100%;
  top: 49px;
  left: 0;
  height: calc(100vh - 49px);
  background-color: rgba(0,0,0, 0.8);
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .shadow--main,
  .main {
    width: 100%;
  }
  .action-panel__buttons button {
    width: 80px;
    font-size: 12px;
  }
}
