.main {
  background: url('~@/assets/img/bg.jpg') no-repeat center;
  background-size: cover;
  height: calc(100vh - 49px);
}

.main,
.shadow--main {
  width: calc(100% - 270px);
}

.container {
  width: 80%;
  margin-top: 40px;
  background: linear-gradient(90deg, rgba(47,47,47,0.8911939775910365) 0%, rgba(0,0,0,0.15449929971988796) 100%);
  padding: 50px 0;
  height: 200px;
}

.container-layout {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(248, 249, 250, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  height: calc(100vh - 50px);
}

.layout {
  position: absolute;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
  overflow-y: auto;
  height: calc(100vh - 250px);
}

.patient-layout {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-layout__loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-layout__logo {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('~@/assets/img/logo-white.png') no-repeat center;
  background-size: cover;
}
