.patient-modal {
  /*position: absolute;
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0 30px;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
  overflow-y: auto;
  height: calc(100vh - 250px);*/
}
